:root {
  --laranja-principal: #fb8654;
}

.cabecalho {
  padding: 1% 0 0 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: var(--preto);
  font-family: var(--fonte-principal);
  font-size: 30px;
  font-weight: 700;
}

.cabecalho__logo {
  display: flex;
}
.menu {
  display: flex;
}
.menu a {
  text-decoration: none;
  color: var(--preto);
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 30px;
}
li {
  list-style: none;
}
.cabecalho__menu {
  position: absolute;
  top: 30px;
  right: 80px;
  display: flex;
}

.cabecalho__lupa {
  width: 23px;
  margin-left: 30px;
}

.cabecalho__menu__link:hover {
  position: relative;
}

.cabecalho__menu__link:hover .osso {
  display: block;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.osso {
  display: none;
  position: absolute;
  top: -40px;
  left: 0;
  z-index: -1;
  width: 180px;
}
